@import 'bootstrap';

* {
  margin: 0;
  padding: 0;
  

}



/* nav */

.welcom-nav {
  background: none;
}


/* welcome */

.welcome {
  height: 937px;
  background-image: url("background.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  overflow: hidden;
}

.col-xl- {
  text-align: center;
}

.btn-lg {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* form */

 .form-container {
   background-color: #001f2e;
   opacity: 95%;
   height: auto;
   margin-top: 30px;
   margin-bottom: 30px;
   border-radius: 25px;
   border: 2px solid #00000000;
   box-shadow: 5px 5px 5px rgb(0, 0, 0);
 }

 .form-row {
   margin: 20px;
 }
 
 .form-label {
   color: white;
   font-size: 1.5rem;
 }



/* cards */
.card {
  width: 300px;
  height: 300px;
  border: 1px solid;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.849);
  margin: 10px;
} 

.card-footer {
  background-color: #001f2e;
}

.footer-text {
  color: white;
}

/* dashboard */
.dashboard {
  text-align: center;
  background-image: url('https://i.imgur.com/9sgsh2l.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.dash-row-1 {
  
  margin-top: 40px;
  margin-bottom: 20px;
}

.dash-row-2 {
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.849);
 
}

.dash-row-3 {
  background-color: white;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.849);
}

.dash-one-one {
  height: 800px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 5px 7px #2a2a2ac9;
}






.custom-card {
  color: "#24454b";
   font-size: "2rem";
   height: 70px;
   width: 100px;
   background-color: rgb(207, 207, 207);
   border-radius: 10px;
   margin: 20px;
   display: inline-flex;
   text-align: center; 
   justify-content: center;
}

.custom-card-text {
  margin: auto;
}

/* search*/

.project-search {
  margin: 20px;
}

.input-area {
  height: 40px;
  font-size: 2rem;
  background-color: rgb(240, 240, 240);
  width: 85%;
} 


/* form */
.form-page {
 height: 937px;
 background-image: url("background.png");
 background-position: center; /* Center the image */
 background-repeat: no-repeat; /* Do not repeat the image */
 background-size: cover; /* Resize the background image to cover the entire container */
 overflow: hidden;
}

 .form-container {
   background-color: #001f2e;
   opacity: 95%;
   height: auto;
   margin-top: 30px;
   margin-bottom: 30px;
   border-radius: 25px;
   border: 2px solid #00000000;
   box-shadow: 5px 5px 5px rgb(0, 0, 0);
 }

 .form-row {
   margin: 20px;
 }
 
 .form-label {
   color: white;
   font-size: 1.5rem;
 }


/* */
.skill-body {
  background-image: url('https://i.imgur.com/9sgsh2l.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}




