@import 'bootstrap';

* {
  margin: 0;
  padding: 0;

}



/* nav */

.welcom-nav {
  background: none;
}

.nav-item {
  font-size: 30px;
  color: white !important;
  word-spacing: 20px;
}

/* welcome */

.welcome {
  height: 937px;
  background-image: url("background.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  overflow: hidden;
}

.col-xl- {
  text-align: center;
}

.btn-lg {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}