@import 'bootstrap';

* {
  margin: 0;
  padding: 0;

}



/* nav */

.navbar {
  background-color: #24454b !important;
}

.nav-item {
  font-size: 30px;
  color: white !important;
  word-spacing: 20px;
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}

/* welcome */

.welcome {
  height: 850px;
  background-image: url("wallpaper.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  overflow: hidden;
}

.col-xl- {
  text-align: center;
}